
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}


.search-input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #444;
  background-color: #333;
  color: white;
  width: 80%;
  max-width: 400px;
  transition: 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #ff9800;
  outline: none;
  transform: scale(1.05);
}

.food-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
  width: 80%;
  max-width: 600px;
  justify-content: center;
}

.food-item {
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  animation: slideIn 0.5s ease-in-out;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}

.food-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.no-food {
  color: #888;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .search-input {
    width: 90%;
  }
  .container{
    margin-top: 10%;
  }

  .food-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .food-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
